.nameh2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

#linkForReference {
    color: inherit;
    text-decoration: underline;
}

#linkForReference:visited {
    color: inherit;
}

#linkForReference:hover {
    color: var( --whiteForFocus);
}

#linkForReference:active {
    color: var( --whiteForFocus);
}

@media only screen and (min-width: 720px) and (pointer: fine) {
    .nameh2 {
        font-size: 4rem;
    }
}