#windowIntervals2 {
    display: none;
}

#buttonInervalsChoice {
    justify-content: flex-start;
    gap: 4vh;
}

.stylePoints {
    color: var(--winColor);
    text-shadow: 0 1px 1px rgba(128, 121, 121, 0.533);
}

/*Настройка длительности воспроизведения*/

#sliderTrackTime,
#sliderThumbTime {
    touch-action: none;
}

#conteinerIntervalTime {
    width: 100%;
    height: 25vh;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#intervalTimeValueText {
    margin: 0;
    padding: 0;
    width: 40%;
    text-align: center;
    font-size: 1.2rem;
}

#sliderTimeInterval {
    width: 40%;
    height: 100%;
    position: relative;
}

#sliderTrackTime {
    height: 90%;
    aspect-ratio: 1/20;
    border: 3px solid var(--colorForSliderStep);
    position: absolute;
    top: 5%;
    left: 47.4%;
    border-top: none;
    border-bottom: none;
}

#sliderThumbTime {
    position: absolute;
    height: 6.5%;
    aspect-ratio: 6 / 1;
    background: var(--colorForSliderThumb);
    border-radius: 10px;
    transform: translateX(-47%);
    cursor: grab;
    z-index: 999;
    margin: 0;
    padding: 0;
}

#sliderTrackTimeFill {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 0%;
    background: var(--colorForSliderTrack);
    transform: rotate(-180deg);
}

.stepTime {
    position: absolute;
    height: 6%;
    aspect-ratio: 2/1;
    background: var(--colorForSliderStep);
    border-radius: 0 10px 10px 0;
    left: 47.7%;
    cursor: pointer;
}

.leftTime {
    transform-origin: left;
    transform: scaleX(-1);
}

.p4Time {
    top: 0;
}

.p3Time {
    top: 28.6%;
}

.p2Time {
    top: 61.6%;
}

.p1Time {
    top: 97%;
}

/*Ползунок интервала*/

.conteiner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#conteinerSlider {
    height: 60vh;
    aspect-ratio: 1/1.5;
    position: relative;
    min-height: 400px;
    display: none;
}

.slider-track {
    position: absolute;
    aspect-ratio: 1/25;
    cursor: pointer;
    top: 5%;
    left: 11%;
    height: 90%;
    background: var(--colorForSliderTrack);
    touch-action: none;
}

.slider-thumb {
    position: absolute;
    width: 22%;
    aspect-ratio: 4.5 / 1;

    background: var(--colorForSliderThumb);

    border-radius: 10px;

    top: 94%;
    left: 2.6%;
    z-index: 999;
    cursor: grab;

    touch-action: none;
}

.pIntervalsName {
    position: absolute;
    left: 30%;
}

#p13t {
    top: -0.9%;
}

#p12t {
    top: 7.4%;
}

#p11t {
    top: 15%;
}

#p10t {
    top: 22.3%;
}

#p9t {
    top: 29.5%;
}

#p9t {
    top: 29.5%;
}

#p8t {
    top: 37.2%;
}

#p7t {
    top: 44.3%;
}

#p6t {
    top: 51.8%;
}

#p5t {
    top: 59%;
}

#p4t {
    top: 66.4%;
}

#p3t {
    top: 73.6%;
}

#p2t {
    top: 81%;
}

#p1t {
    top: 88.5%;
}

.step {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 2%;
    width: 6%;
    background: var(--colorForSliderStep);
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    left: 13.5%;
}

.left {
    transform-origin: left;
    transform: scaleX(-1);
}

.p13 {
    top: 5%;
}

.p12 {
    top: 13.333333%;
}

.p11 {
    top: 20.666666%;
}

.p10 {
    top: 27.999999%;
}

.p9 {
    top: 35.333332%;
}

.p8 {
    top: 42.666665%;
}

.p7 {
    top: 49.999998%;
}

.p6 {
    top: 57.333331%;
}

.p5 {
    top: 64.666664%;
}

.p4 {
    top: 71.999997%;
}

.p3 {
    top: 79.333333%;
}

.p2 {
    top: 86.666663%;
}

.p1 {
    top: 94%;
}

@media (min-width: 720px) and (pointer: fine), (orientation: landscape) and (pointer: coarse) {
    .forContinue {
        height: 10vh;
    }
}

@media only screen and (min-width: 720px) and (pointer: fine) {
    #intervalTimeValueText {
        font-size: 2rem;
    }

    #conteinerIntervalTime {
        min-height: 300px;
    }

    .forContinue {
        margin-top: 2vh;
    }
}